{% extends 'website/base_template.html' %}

{% load static %}

{% block content %}

<div class="page-banner overlay-dark bg-image" style="background-image: url({% static 'img/bg_image_1.jpg' %})">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item"><a href="{% url 'website:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
        </ol>
      </nav>
      <h1 class="font-weight-normal">{{page.title}}</h1>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 wow fadeInUp">
        <div class="text-lg">
          {{page.content|safe}}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}